<div class="container">
    <h1>Angular Directives</h1> 
    
    <p 
        appStyle="red" 
        [dStyles]="{border: '1px solid blue', borderRadius: '5px', fontWeight: 'bold'}"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, maxime?</p>
    <p 
        appStyle="blue" 
        [dStyles]="{border: '3px solid red', borderRadius: '10px'}"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, maxime?</p>

    <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

    <!-- <div *ngIf="isVisible" class="wrap">
        <p>Lorem ipsum dolor sit amet consectetur aipisicing elit. Fuga voluptas explicabo quasi dolores necessitatibus voluptatibus accusantium at cupiditate rem repellendus?</p>
    </div> -->

    <!-- <ng-template [ngIf]="isVisible">
        <div class="wrap">
            <p>Lorem ipsum dolor sit amet consectetur aipisicing elit. Fuga voluptas explicabo quasi dolores necessitatibus voluptatibus accusantium at cupiditate rem repellendus?</p>
        </div>
    </ng-template> -->

    <div class="wrap" *appIfnot="!isVisible">
        <p>Lorem ipsum dolor sit amet consectetur aipisicing elit. Fuga voluptas explicabo quasi dolores necessitatibus voluptatibus accusantium at cupiditate rem repellendus?</p>
    </div>
</div>
